<!-- <footer style="color: ghostwhite;" class="footer">

    <div class=" container row">
        <div class="col-sm col-md-4">
            <h5>Links</h5>
            <ul class="list-unstyled d-flex justify-content-between">
                <li><a href=".index.html">Home</a></li>
                <li><a href="./aboutus.html">Products</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Tools</a></li>
                <li><a href="./contactus.html">Developer</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
       
        <div class="col-4 col-sm">
            <h5>Our Address</h5>
            <address>
                121, Clear Water Bay Road<br>
                Clear Water Bay, Kowloon<br>
                HONG KONG<br>
                <i class="fa fa-phone fa-lg"></i> +852 1234 5678<br>
                <i class="fa fa-fax fa-lg"></i> +852 8765 4321<br>
                <i class="fa fa-envelope fa-lg"></i> <a href="mailto:confusion@food.net">confusion@food.net</a>
            </address>
        </div>
        <div class="col-12 col-sm-4 align-self-center">
            <div class="text-center">
                <a class="btn btn-social-icon btn-google" href="http://google.com/+"><i
                        class="fa fa-google-plus fa-lg"></i></a>
                <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i
                        class="fa fa-facebook fa-lg"></i></a>
                <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i
                        class="fa fa-linkedin fa-lg"></i></a>
                <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i
                        class="fa fa-twitter fa-lg"></i></a>
                <a class="btn btn-social-icon btn-google" href="http://youtube.com/"><i
                        class="fa fa-youtube fa-lg"></i></a>
                <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope fa-lg"></i></a>
            </div>
        </div>
    </div>
    <br>
    
    


        
    </div>
<div class="row">
    <div class="col-4 offset-1 col-sm-2">
        <a class="navbar-brand " href="#" style="font-size: 70px; color:gray;">Bluecera</a>

    </div>
</div>

<div class="row justify-content-center">
    <div style="color: gray;" class="col-auto ">
        <p>© Copyright 2018 Ristorante Con Fusion</p>
    </div>
    
    

</footer> -->

<div class="complex-footer">
    <div class="container">
      <div class="footer-content">
        <div class="footer-column">
          <h3 class="footer-heading">Contacts</h3>
          <ul class="footer-list">
            <li>Email: <a href="mailto:info@example.com">info@example.com</a></li>
            <li>Phone: <a href="tel:+1234567890">+1234567890</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <h3 class="footer-heading">Products</h3>
          <ul class="footer-list">
            <li><a href="#">Product 1</a></li>
            <li><a href="#">Product 2</a></li>
            <li><a href="#">Product 3</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <h3 class="footer-heading">Address</h3>
          <p>123 Main Street,<br>City, Country</p>
        </div>
        <div class="footer-column">
          <h3 class="footer-heading">Page Links</h3>
          <ul class="footer-list">
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
      </div>

      <div class="footer-content">
        <div class="footer-columnr">
            <div style="color: gray;">
                <p>© Copyright 2018 Ristorante Con Fusion</p>
            </div>

            <div class="footer-column">
                <a class="navbar-brand " href="#" style="font-size: 70px; color:gray;">Bluecera</a>
        
            </div>
      </div>
    </div>
  </div>
