<div class="new-home-cta">
    <div class="padding-global">
        <div class="container-large">
            <div class="padding-section-medium">
                <div class="new-cta">
                    <div class="home_cta-content">
                        <div class="margin-bottom margin-small">
                            <h4 class="heading-style-h4 text-color-white text-weight-normal">Download OurPass for free
                                now</h4>
                        </div>
                        <h1 class="cta-txt">Simplify running your business with OurPass.<br></h1>
                        <div class="margin-top">
                            <div class="download-app-buttons">
                                <div class="margin-right margin-medium">
                                    <a href="https://play.google.com/store/apps/details?id=co.ourpass.business"
                                        target="_blank" class="google-play w-inline-block">
                                        <img src="https://uploads-ssl.webflow.com/63f269350314aa565f3bb729/63f42d81f14dfb11b8147474_Mobile%20app%20store%20badge.svg"
                                            loading="lazy" width="148" alt="" class="google-play-button-img">
                                    </a>
                                </div>
                                <a href="https://apps.apple.com/us/app/ourpass-for-business/id1627209061"
                                    class="app-store w-inline-block">
                                    <img src="https://uploads-ssl.webflow.com/63f269350314aa565f3bb729/63f42d81d1798955b405dc5c_Mobile%20app%20store%20badge-1.svg"
                                        loading="lazy" width="133" alt="" class="app-store-button-img">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Background image wrapper -->
    <div class="home_cta-bg-effect-wrapper">
        <img src="https://uploads-ssl.webflow.com/63f269350314aa565f3bb729/64513f3bab885f0239e7f178_ajskak.svg"
            loading="lazy" alt="" class="home_cta-bg-effect">
    </div>
</div>

